.phase-two-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.loading-screen {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #ebeff3;
    align-items: center;
    justify-content: center;
}

.loading-screen > h1 {
    font-size: 2rem;
    font-weight: 400;
    animation: appear 1s ease-in-out alternate infinite;
}

.phase-two-container > h1 {
    font-size: 2.2rem;
    font-weight: 500;
}

.phase-two-controls-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.phase-two-btn {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background: white;
    border: 1px solid #ebeff3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.phase-two-btn:focus {
    outline: none;
}


.phase-two-image-container {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.phase-two-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@keyframes appear {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.65;
    }  
}